/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: 0.2s background-color ease-in-out;
}

.container{
  width: 900px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*CLOCK DISPLAY*/

.clock{
  width: 10px;
  height: 50%;
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color:#F0F8FF;
  border-radius: 15px;
}

.size{
  font-size: 90px;
  font-family: "Orbitron", sans-serif;
  font-weight: 400;
  color: #24292D;
}

.ponto{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 15px 0px 15px;
}

.horasName{
  font-size: 20px;
  font-family: "Orbitron", sans-serif;
  font-weight: 300;
  color: #24292D;
  color: #A4ABB1;
}

/*LIGHT MODE OR DARK MODE*/

.theme{
  width: 10px;
  height: 100%;
  width: 15%;
}

.darkMode{
  height: 110px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#dark{
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: white;
  background-color: #24292D;
  border-radius: 10px;
}

#light{
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: #24292D;
  background-color: white;
  border-radius: 10px;
}

.pmAm{
  color: #24292D;
  font-family: "Orbitron", sans-serif;
  font-weight: 500;
  margin-left: 15px;
  font-size: 18px;
}

#dark > i, #light > i{
  font-size: 20px;
}
